In [6]:
from pathlib import Path
import pandas as pd

ROOT = Path.cwd().parent                    # …/Velib-analytics
snap = ROOT / "data/raw/velib/snapshots/velib_snapshot_20251110_154818.parquet"

print("Fichier existe ?", snap.exists(), "\n", snap)
df = pd.read_parquet(snap, engine="pyarrow")
df.head()

Fichier existe ? True
 /Users/souhail/projets-ml/Velib-analytics/data/raw/velib/snapshots/velib_snapshot_20251110_154818.parquet

,ts_utc,ts_local,id,name,lat,lon,capacity,num_bikes_available_norm,num_docks_available_norm,available_mechanical,...,last_reported,fill_rate,station_id,num_bikes_available,numBikesAvailable,num_bikes_available_types,num_docks_available,numDocksAvailable,stationCode,station_opening_hours
0,2025-11-10 15:48:18.546994+00:00,2025-11-10 16:48:18.546994+01:00,213688169,Benjamin Godard - Victor Hugo,48.865983,2.275725,35,3,32,0,...,2025-11-10 14:46:22+00:00,0.085714,213688169,3,3,"[{'ebike': None, 'mechanical': 0.0}, {'ebike':...",32,32,16107,None
1,2025-11-10 15:48:18.546994+00:00,2025-11-10 16:48:18.546994+01:00,19179944124,Hôpital Mondor,48.798922,2.453745,28,10,18,3,...,2025-11-10 14:50:24+00:00,0.357143,19179944124,10,10,"[{'ebike': None, 'mechanical': 3.0}, {'ebike':...",18,18,40001,None
2,2025-11-10 15:48:18.546994+00:00,2025-11-10 16:48:18.546994+01:00,18795078746,Charcot - Benfleet,48.878370,2.440524,28,2,26,0,...,2025-11-10 14:47:21+00:00,0.071429,18795078746,2,2,"[{'ebike': None, 'mechanical': 0.0}, {'ebike':...",26,26,32304,None
3,2025-11-10 15:48:18.546994+00:00,2025-11-10 16:48:18.546994+01:00,36255,Toudouze - Clauzel,48.879296,2.337360,21,2,19,0,...,2025-11-10 14:48:26+00:00,0.095238,36255,2,2,"[{'ebike': None, 'mechanical': 0.0}, {'ebike':...",19,19,9020,None
4,2025-11-10 15:48:18.546994+00:00,2025-11-10 16:48:18.546994+01:00,251039991,Cassini - Denfert-Rochereau,48.837526,2.336035,25,10,13,5,...,2025-11-10 14:49:56+00:00,0.400000,251039991,10,10,"[{'ebike': None, 'mechanical': 5.0}, {'ebike':...",13,13,14111,None

In [7]:
df.shape

(1499, 24)

In [8]:
df.columns

Index(['ts_utc', 'ts_local', 'id', 'name', 'lat', 'lon', 'capacity',
       'num_bikes_available_norm', 'num_docks_available_norm',
       'available_mechanical', 'available_ebike', 'is_installed', 'is_renting',
       'is_returning', 'last_reported', 'fill_rate', 'station_id',
       'num_bikes_available', 'numBikesAvailable', 'num_bikes_available_types',
       'num_docks_available', 'numDocksAvailable', 'stationCode',
       'station_opening_hours'],
      dtype='object')

In [12]:
df [['is_installed', 'is_renting','is_returning']]

      is_installed  is_renting  is_returning
0                1           1             1
1                1           1             1
2                1           1             1
3                1           1             1
4                1           1             1
...            ...         ...           ...
1494             1           1             1
1495             1           1             1
1496             1           1             1
1497             1           1             1
1498             1           0             0

[1499 rows x 3 columns]